<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BazeDeDate.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=193.226.51.37:1521/o11g;PASSWORD=alexandru#18;USER ID=ALEXANDRUIONESCU1"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="BazeDeDate.Properties.Settings.ConnectionString3"
            connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=password2;PERSIST SECURITY INFO=True;USER ID=ADMINPIZZA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>